<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
    <div id="container">
      <div>
        <ion-input
          label="N1"
          label-placement="floating"
          fill="stack"
          class="custom"
          #n1 >
        </ion-input>
      </div>
      <div>
        <ion-input
          label="N2"
          label-placement="floating"
          fill="stack"
          class="custom"
          #n2 >
        </ion-input>
      </div>
      <div>
        <ion-button onclick="calcularMedia(n1.value, n2.value)">Calcular Média</ion-button>
      </div>
      <div>
        <ion-text></ion-text>
      </div>
    </div>
  </ion-content>
  <script src="script.js"></script>