<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-input label="Solid input" label-placement="floating" fill="solid" placeholder="Enter text"></ion-input>
    <ion-button>Default</ion-button>
  </div>

</ion-content>
